*.class

# Package Files #
*.war
*.ear

# mac config files
.DS_Store
MocloCartesianGraphAssigner/.DS_Store
OverhangSequenceSelector/.DS_Store
RavenCAD/.DS_Store
RavenCAD/web/.DS_Store
RavenCAD/web/WEB-INF/.DS_Store
RavenCAD/web/data/.DS_Store
RavenSampler/.DS_Store

# Private Config Directories #
/RavenCAD/nbproject/private/

# Build folders #
/RavenCAD/build/
/RavenCAD/dist/
/RavenCAD/target/
/RavenCAD/raven3/
/OverhangSequenceSelector/nbproject/private/
/OverhangSequenceSelector/build/
/MocloCartesianGraphAssigner/nbproject/private/
/MocloCartesianGraphAssigner/build/
/OverhangSequenceSelector/dist/
/MocloCartesianGraphAssigner/nbproject/private/
/MocloCartesianGraphAssigner/dist/
/RavenCAD/DevicesVisualizer/nbproject/private/
/DevicesVisualizer/build/
/OverhangSampler/nbproject/private/
/OverhangSampler/build/
/PigeonToRaven/nbproject/private/
/RavenToPigeon/nbproject/private/
/RavenToPigeon/build/
/RavenSampler/nbproject/private/
/RavenSampler/build/
/RavenSampler/dist/
/RavenCADMaven/target/
/RavenCADMaven/nbproject/
/RavenCAD/nbproject/
