*.class

# Package Files #
*.war
*.ear

# Private Config Directories #
/RavenCAD/nbproject/private/

# Build folders #
/RavenCAD/build/
/RavenCAD/dist/
/OverhangSequenceSelector/nbproject/private/
/OverhangSequenceSelector/build/
/MocloCartesianGraphAssigner/nbproject/private/
/MocloCartesianGraphAssigner/build/
/OverhangSequenceSelector/dist/
/MocloCartesianGraphAssigner/nbproject/private/
/MocloCartesianGraphAssigner/dist/
/RavenCAD/DevicesVisualizer/nbproject/private/
/DevicesVisualizer/build/
/OverhangSampler/nbproject/private/
/OverhangSampler/build/